{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<section class ="container">
<p>Bienvenue sur Boardgame rent, la plateforme dédiée aux passionnés de jeux de société en quête de nouvelles aventures ludiques. Boardgame rent vous offre la possibilité de partager et emprunter une vaste sélection de jeux de société entre particuliers, pour des moments de divertissement inoubliables. Que vous soyez un fervent adepte de jeux stratégiques, de jeux de rôle captivants, ou de jeux familiaux amusants, notre communauté dynamique met à votre disposition une collection diversifiée de titres. Rejoignez-nous pour élargir votre horizon ludique, rencontrer des joueurs passionnés, et contribuer à une expérience de jeu plus durable. Découvrez dès maintenant le trésor de jeux qui vous attend sur Boardgame rent !</p>
</section>
{% endblock %}
