{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<section class ="container text-center">
<div style='background-color:rgba(000,000,000,0.8); height:50vh ' class='mt-5'>
<h1>Bienvenue sur Boardgame rent</h1>
<p class="pAccueil">la plateforme dédiée aux passionnés de jeux de société en quête de nouvelles aventures ludiques.</p> 
<p class="pAccueil">Boardgame rent vous offre la possibilité de partager et emprunter une vaste sélection de jeux de société entre particuliers, pour des moments de divertissement inoubliables.</p> 
<p class="pAccueil">Que vous soyez un fervent adepte de jeux stratégiques, de jeux de rôle captivants, ou de jeux familiaux amusants, notre communauté dynamique met à votre disposition une collection diversifiée de titres. </p>
<p class="pAccueil">Rejoignez-nous pour élargir votre horizon ludique, rencontrer des joueurs passionnés, et contribuer à une expérience de jeu plus durable. Découvrez dès maintenant le trésor de jeux qui vous attend sur Boardgame rent !</p>
</div>
</section>
{% endblock %}
