{% extends 'base.html.twig' %}

{% block title %}New Boardgame{% endblock %}

{% block body %}
<section class="container ">
    <h1 class="text-center">Create new Boardgame</h1>

    {{ include('game/_form.html.twig') }}

    <a class="m-5 btn btn-warning" href="{{ path('app_game_index') }}">Retour à la liste</a>
</section>
{% endblock %}
